body{
    background-color: $fondo;
}
.paises{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7rem;

    @include pc() {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        background-color: $fondo;
        text-align: center;
        align-items: center;
        height: 100vh;
        padding: 2rem;
        margin: 0;
    }
}
.paises__titulo{
    text-align: center;
}
.paises__consulta, .paises__resultado{
    flex: 0 0 30%;
    background-color: $color3;
    padding: 2rem;
    width: 80%;
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 4px black;
    @include pc() {
        flex: 0 0 45%;
    }
}



.paises__form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.paises__select{
    font-size: 1.3rem;
    width: 100%;
    outline: none;
    padding: 0.4rem 1rem;
    border: none;
    border-bottom: 1px solid black;

}

.paises__btn{
    display: block;
    width: 100%;
    font-size: 1.2rem;
    background-color: $color2;
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0;
    cursor: pointer;
}