.resultadovac{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1rem;
}

.resultadovac__pais{
    font-size: 2rem;
    border-bottom: 1px solid black;
    width: 80%;
    text-align: center;
    padding: 0.5rem;
}
.resultadovac__capital{
    font-weight: lighter;
    font-size: 1.2rem;
}
.resultadovac__poblacion{
    font-size: 1.2rem;
    font-weight: lighter;
}
.resultadovac__confirmados{
    font-size: 1.2rem;
    font-weight: lighter;
}
.resultadovac__continente{
    font-size: 1.2rem;
}

.vac{
    font-weight: bold;
    font-size: 1.4rem;
}