// Media Queries
$telefono: 480px;
$tablet: 768px;
$pc: 1020px;
@mixin telefono {
    @media only screen and (min-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin pc {
    @media only screen and (min-width: #{$pc}) {
        @content;
    }
}